<a href="https://colab.research.google.com/github/62065405/python-0425-/blob/main/%E6%9E%97%E6%B2%9B%E5%84%92_%E8%B3%87%E6%96%99%E5%9E%8B%E6%85%8B(data_Type)%E5%8F%8A%E5%85%B6%E9%81%8B%E7%AE%97.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a = 17555 / 8
b = 1748745 // 3
c = 174665454 % 5

a,b,c

(2194.375, 582915, 4)

In [3]:
x = 5
print(x > 3 and x < 10)

x = 55

print(x > 3 and x < 10)

True
False

x=5 符合x>3 X<10為真 x=55 符合x>3 X<*10為錯*

In [4]:
x = 5
print(x > 3 or x < 4)

True

x=5 符合x>3 X<4為真

In [5]:
x = 5
print(not(x > 3 and x < 10))

False

x=5 符合x>3 X<10為真 但為not true 所以為false

In [6]:
a = 1.000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000004
int(a)

b = 0.9999999999999999999999999999999999999999999999999999999457897878787879787541549975754894944654649499464644694979797979977997
int(a)

1

In [7]:
var1 = 'byebye Python!'

print("var1[0]: ", var1[0])
print("var1[1:9]: ", var1[1:9])

var1[0]:  b
var1[1:9]:  yebye Py

In [9]:
b = "Hello, World!,ahahahahhahahahhhhahaha i dont waant to see"
print(b[2:5])
print(b[:5])
print(b[2:])
print(b[-5:-2])

llo
Hello
llo, World!,ahahahahhahahahhhhahaha i dont waant to see
o s

In [12]:
str1='happy python daydaydayday'
str2='    Oh! nonononononononon ononononono   '

str4=str1 + str2  

print(str4.capitalize())

Happy python daydaydayday    oh! nonononononononon ononononono

In [14]:
list1 = [21, 33, 14, 12, 32, 98,5555,3,33,555,2,5,2,5,2,5,2,5,25,]

list1[1]
list1[-2]
list1[1:555]

[33, 14, 12, 32, 98, 5555, 3, 33, 555, 2, 5, 2, 5, 2, 5, 2, 5, 25]

In [16]:
list1 = [21, 33, 14, 12, 32, 982225255,5655555555]

len(list1)
max(list1)
min(list1)
sum(list1)

6637780922

In [20]:
dict = {'Name': 'handsome DaDaLong', 'Age': 18, 'Class': 'First'}

print("dict['Name']: ", dict['Name'])
print("dict['Age']: ", dict['Age'])

dict['Name']:  handsome DaDaLong
dict['Age']:  18

In [21]:
dict = {'Name': 'umbeliveable handsome DaDaLong', 'Age': 17, 'Class': 'no 1'}
dict.items()

dict_items([('Name', 'umbeliveable handsome DaDaLong'), ('Age', 17), ('Class', 'no 1')])

In [24]:
dict = {'your Name': 'DaDaLong', 'Age': 18, 'Class': 'First'}
list(dict.items())
dict = {'your Name': 'DaDaLong', 'Age': 18, 'Class': 'First'}
list(dict.keys())

['your Name', 'Age', 'Class']

In [25]:

from queue import Queue
q = Queue()
q.put(1)
q.put(2)
q.put(3)
q
print(q.queue)
q.get()

deque([1, 2, 3])

1